

#game {
    margin: auto;
    width: 288px;
    height: 288px;
    margin: auto;
}

#start-game {
    margin: 20px auto;
    width: 280px;
}

#status {
    margin: 10px auto;
    width: 288px;
}

#status > p {
    text-align: center;
    margin: 5px auto;
}

#result-red {
    background-color: red;
}

#result-yellow {
    background-color: red;
}

#result-green {
    background-color: red;
}

#start {
    width: 100%;
}

#restart {
    width: 100%;
}

#result {
    margin: 20px auto;
    width: 280px;
}

#result > p {
    text-align: center;
}




td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

#hide {
    border: 1px solid white;
}

.block {
    background-color: black;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
