html {
    background-color: transparent !important; 
    background-image: url(./background.jpg); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

.chip1 {
    background-image: url(./chip1.png);
    background-color: green;
}

.chip2 {
    background-image: url(./chip2.png);
    background-color: yellow;
}

.chip3 {
    background-image: url(./chip3.png);
    background-color: red;
}

.block {
    background-image: url(./block.png);
    background-color: lightgray;
}

/* добавить эффект кружения */
.access {
    border: 2px solid blue;
}

#hidden-chip {
    border: 2px solid none;
}

#control {
    box-sizing: border-box;
    margin: auto;
    width: 360px;
    height: 68px;
    border: none;
}

input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 32px;
    font-size: large;
}

#status {
    box-sizing: border-box;
    margin: auto;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    border: none;
}

#game {
    margin: auto;
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    border: none;
}

.win {
    margin: auto;
    width: 360px;
    height: 15px;
    border: none;
    font-size: large;
    text-align: center;
}

/* complete */
div {
    border: 2px solid black;
}

.cell {
    box-sizing: border-box;
    border-radius: 32px;
    width: 68px;
    height: 68px;
    margin: 2px;
}